//Colors
$Black:#191C1F ;
$Gray: #83898F;
$Dark-gray: #5E646A;
$Mid-gray: #C2C8CD;
$Light-gray: #ECEFF2;
$Extralight-gray: #F6F8FA;

$Dangerous: #F13636;
$Green-success: #25CD82;

$Primary: #2A6CEA;
$Primary-hover: #397DFF;
$Primary-disabled: #ABCAE6;

//Media

$laptop: 1250px;
$tablet: 1000px;
$tablet-less: 750px;
$phone: 550px;